.icon-waves {
  @apply relative;
  --out-accent: 0.4;
  &::before,
  &::after {
    @apply absolute animate-pulse -z-20 p-6 inset-0 outline-12 rounded-full;
    content: "";
    outline-color: hsl(var(--green-500) / var(--out-accent));
  }
  &::before {
    @apply outline-24;
    --out-accent: 0.2;
  }
}

.icon-bounce {
  @apply animate-bounce;
}
