@use "../functions/" as f;
@use "../globals/states" as s;
@use "sass:map";
@use "sass:list";

$colorsMap: (
  // primary
  neutral-900: 0 0% 7%,
  neutral-800: 0 0% 15%,
  neutral-500: 240 3% 46%,
  neutral-400: 240 1% 59%,
  neutral-0: 0 0% 100%,
  blue-600: 214 100% 55%,
  blue-400: 210 100% 65%,
  red-500: 354 63% 57%,
  green-500: 140 63% 57%,
  yellow-400: 49 85% 70%,
  background: var(--background),
  foreground: var(--foreground)
);

$primary-color: map.get($colorsMap, neutral-0);
$link-color: map.get($colorsMap, blue-600);
$text-color: map.get($colorsMap, neutral-900);
$accent-color: map.get($colorsMap, blue-600);

$exluded-variables: background foreground;

:root {
  & {
    @each $name, $color in $colorsMap {
      @if not list.index($exluded-variables, $name) {
        --#{""+$name}: #{$color};
      }
    }
  }
  --background: #{$primary-color};
  --foreground: #{$text-color};
  --accent-color: #{$accent-color};
  --link-color: #{$link-color};

  @media (prefers-color-scheme: dark) {
    --background: #{$text-color};
    --foreground: #{$primary-color};
  }
  &[theme="dark"],
  *[theme="dark"] {
    --background: var(--foreground);
    --foreground: var(--background);
  }
  &[theme="light"],
  *[theme="light"] {
    --background: var(--background);
    --foreground: var(--foreground);
    --accent-color: #{$accent-color};
    --link-color: #{$link-color};
  }
  --outstand: var(--element-bg);
}

@mixin active-colors($suffix) {
  .active-#{$suffix}.active-#{$suffix} {
    @include s.active-state {
      @content;
    }
  }
}

@each $name, $color in $colorsMap {
  .#{"" + $name},
  .hv-#{"" + $name}:hover,
  .a-#{"" + $name}:active,
  .a-#{"" + $name}:focus {
    background-color: hsl(var(--#{"" + $name}) / var(--bg-accent, 1));
    transition: background-color ease-in-out 0.3s;
  }
  @include active-colors(#{"" + $name}) {
    background-color: hsl(var(--#{"" + $name}) / var(--bg-accent, 1));
    transition: background-color ease-in-out 0.3s;
  }

  .c-#{"" + $name}.c-#{"" + $name},
  .hv-c-#{"" + $name}:hover,
  .a-c-#{"" + $name}:active,
  .a-c-#{"" + $name}:focus {
    color: hsl(var(--#{"" + $name}) / var(--txt-accent, 1));
    transition: color ease-in-out 0.3s;
  }
  @include active-colors(#{"c-" + $name}) {
    color: hsl(var(--#{"" + $name}) / var(--txt-accent, 1));
    transition: color ease-in-out 0.3s;
  }

  .b-#{"" + $name}.b-#{"" + $name},
  .hv-b-#{"" + $name}.hv-b-#{"" + $name}:hover,
  .a-b-#{"" + $name}.a-b-#{"" + $name}:active,
  .a-b-#{"" + $name}.a-b-#{"" + $name}:focus {
    border-color: hsl(var(--#{"" + $name}) / 1);
    transition: border ease-in-out 0.3s;
  }
  @include active-colors(#{"b-" + $name}) {
    border-color: hsl(var(--#{"" + $name}) / 1);
    transition: border ease-in-out 0.3s;
  }

  .out-#{"" + $name},
  .hv-out-#{"" + $name}:hover,
  .a-out-#{"" + $name}:active,
  .a-out-#{"" + $name}:focus {
    outline-color: hsl(var(--#{"" + $name}) / 1);
    transition: outline ease-in-out 0.3s;
  }
  @include active-colors(#{"out-" + $name}) {
    outline-color: hsl(var(--#{"" + $name}) / 1);
    transition: outline ease-in-out 0.3s;
  }
}
